/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f4f6f9;
    color:#222;
    transition:.3s;
}

/* =========================
   LOADER
========================= */

#loader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:99999;
}

.spinner{
    width:70px;
    height:70px;
    border:8px solid #ddd;
    border-top:8px solid #005baa;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin-bottom:20px;
}

@keyframes spin{

    0%{
        transform:rotate(0deg);
    }

    100%{
        transform:rotate(360deg);
    }

}

/* =========================
   HEADER
========================= */

header{

    background:#005baa;

    color:white;

    padding:15px 30px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

}

.logo-section{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo{

    height:100px;

}

.logo-section h1{

    font-size:30px;

}

.header-right{

    display:flex;

    align-items:center;

    gap:20px;

}

#currentDate{

    text-align:right;

    font-weight:bold;

}

/* =========================
   NOTIFICATION
========================= */

#notificationBell{

    background:#f37021;

    border:none;

    color:white;

    padding:12px 15px;

    border-radius:50%;

    cursor:pointer;

    position:relative;

    font-size:18px;

}

#notificationCount{

    position:absolute;

    top:-5px;

    right:-5px;

    background:red;

    color:white;

    border-radius:50%;

    padding:2px 6px;

    font-size:12px;

}

#notificationPanel{

    display:none;

    position:absolute;

    top:90px;

    right:20px;

    width:320px;

    background:white;

    box-shadow:0 4px 20px rgba(0,0,0,.15);

    padding:20px;

    border-radius:12px;

    z-index:999;

}

#notificationPanel ul{

    list-style:none;

}

#notificationPanel li{

    padding:10px 0;

    border-bottom:1px solid #ddd;

}
.notification-link{

    cursor:pointer;

}

.arrow{

    opacity:0;

    margin-left:5px;

    transition:.3s;

    color:#f37021;

}

.notification-link:hover{

    text-decoration:underline;

}

.notification-link:hover .arrow{

    opacity:1;

    margin-left:10px;

}


.show-notifications{

    display:block !important;

}

/* =========================
   TICKER
========================= */
.ticker{

    background:#f37021;

    color:white;

    padding:10px;

    font-weight:bold;

}

.ticker-text{

    cursor:pointer;

}
/* .ticker-text:hover{

    text-decoration:underline;

} */
.ticker-link{

    cursor:pointer;

}

.ticker-link:hover{

    text-decoration:underline;

}

/* =========================
   WELCOME
========================= */

.welcome-banner{

    text-align:center;

    padding:35px 20px;

    animation:fadeIn 1.5s ease;

}

.welcome-banner h2{

    color:#005baa;

    margin-bottom:10px;

    font-size:32px;

}

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(-20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* =========================
   CONTROLS
========================= */

.controls{

    width:95%;

    margin:20px auto;

    display:flex;

    gap:10px;

    flex-wrap:wrap;

}

.search-wrapper{

    flex:1;

    position:relative;

}

.search-wrapper input{

    width:100%;

    padding:14px 120px 14px 15px;

    border-radius:10px;

    border:1px solid #ccc;

}
#clearSearch{

    position:absolute;

    top:50%;

    right:90px;

    transform:translateY(-50%);

    cursor:pointer;

    color:black;

}

#voiceSearchBtn{

    position:absolute;

    top:50%;

    right:50px;

    transform:translateY(-50%);

    border:none;

    background:none;

    cursor:pointer;

    font-size:18px;

}
#refreshBtn{

    position:absolute;

    top:50%;

    right:10px;

    transform:translateY(-50%);

    border:none;

    background:none;

    cursor:pointer;

    font-size:18px;

    color:#005baa;

}



#suggestions{

    position:absolute;

    width:100%;

    background:white;

    border-radius:10px;

    box-shadow:0 4px 15px rgba(0,0,0,.15);

    z-index:1000;

}

.suggestion-item{

    padding:10px;

    cursor:pointer;

}

.suggestion-item:hover{

    background:#eee;

}

/* =========================
   SEARCH HISTORY
========================= */

.search-history{

    width:95%;

    margin:20px auto;

}

#searchHistory{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-top:10px;

}

.history-item{

    background:#005baa;

    color:white;

    padding:8px 12px;

    border-radius:20px;

    font-size:14px;

}
.history-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:15px;

}

#clearHistoryBtn{

    background:#dc3545;

    color:white;

    border:none;

    padding:8px 14px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}

#clearHistoryBtn:hover{

    background:#b02a37;

}
/* =========================
   QUICK FILTERS
========================= */

 .quick-filters-section{

    width:95%;

    margin:30px auto;

}

.quick-filters{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

}

.filter-card{

    background:#005baa;

    color:white;

    padding:30px 20px;

    border-radius:15px;

    text-align:center;

    cursor:pointer;

    transition:0.3s;

    box-shadow:0 4px 15px rgba(0,0,0,0.15);

    font-size:28px;

}

.filter-card span{

    display:block;

    margin-top:10px;

    font-size:16px;

    font-weight:600;

}

.filter-card:hover{

    background:#f37021;

    transform:translateY(-5px);

}

/* =========================
   WEATHER
========================= */

.weather-widget{

    width:95%;

    margin:25px auto;

}

#weatherCard{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 4px 15px rgba(0,0,0,.1);

    text-align:center;

}

.quick-filters-section{

    width:95%;

    margin:25px auto;

}

/* .quick-filters-section h2{

    margin-bottom:15px;

    color:#f0f0f0;

} */
 .quick-filters-section h2{

    margin-bottom:15px;

    color:#005baa;

}
/* =========================
   REFINERIES
========================= */

.refineries{

    width:95%;

    margin:30px auto;

}

.refineries h2{

    margin-bottom:20px;

}

.refinery-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:15px;

}

.refinery-card{

    /* background:var(--card); */
    background:#005baa;

    padding:25px;

    border-radius:15px;

    text-align:center;
    cursor:pointer;


    box-shadow:var(--shadow);

    transition:.3s;

    font-weight:bold;

}

.refinery-card:hover{
    background:#f37021;


    transform:translateY(-6px);

}

/* =========================
   CATEGORY
========================= */

.category{

    display:inline-block;

    background:var(--primary);

    color:white;

    padding:5px 10px;

    border-radius:20px;

    font-size:12px;

    margin-bottom:10px;

}


/* =========================
   STATS
========================= */

.stats{

    width:95%;

    margin:auto;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:15px;

}

.stat-card{

    background:white;

    padding:25px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 4px 15px rgba(0,0,0,.1);

    transition:.3s;

}

.stat-card:hover{

    transform:translateY(-5px);

}

.stat-card h3{

    color:#005baa;

}
#lastSync{

    color:#005baa;

    font-weight:bold;

    font-size:22px;

}
/* =========================
   HIGHLIGHTS
========================= */

.highlights{

    width:95%;

    margin:30px auto;

}

.highlight-card{

    background:white;

    padding:20px;

    margin-bottom:15px;

    border-left:5px solid #f37021;

    border-radius:10px;

    box-shadow:0 4px 12px rgba(0,0,0,.1);




}

.highlight-link{

    cursor:pointer;

    display:inline-block;

}

.arrow{

    opacity:0;

    margin-left:5px;

    transition:0.3s;

}

.highlight-link:hover{

    text-decoration:underline;

}

.highlight-link:hover .arrow{

    opacity:1;

    margin-left:10px;

}

/* =========================
   FEATURED
========================= */

.featured{

    width:95%;

    margin:30px auto;

}

.featured-card{

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 4px 15px rgba(0,0,0,.1);

}

.featured-card img{

    width:100%;

    height:350px;

    object-fit:cover;

}

.featured-content{

    padding:20px;

}

/* =========================
   BOOKMARKS
========================= */

.bookmarks{

    width:95%;

    margin:30px auto;

}

.bookmark-card{

    background:white;

    padding:15px;

    margin-bottom:10px;

    border-radius:10px;

    box-shadow:0 4px 10px rgba(0,0,0,.1);

}

/* =========================
   NEWS
========================= */

.section-title{

    width:95%;

    margin:auto;

}

.news-grid{

    width:95%;

    margin:20px auto;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(350px,1fr));

    gap:20px;

}

.news-card{

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 4px 15px rgba(0,0,0,.1);

    transition:.3s;

}

.news-card:hover{

    transform:translateY(-8px);

}

.news-card img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.news-content{

    padding:15px;

}

.category{

    display:inline-block;

    background:#005baa;

    color:white;

    padding:5px 10px;

    border-radius:20px;

    font-size:12px;

    margin-bottom:10px;

}

.news-date{

    color:#777;

    margin-top:10px;

}

.read-more{

    display:inline-block;

    margin-top:10px;

    color:#005baa;

    text-decoration:none;

    font-weight:bold;

}

.bookmark-btn{

    margin-top:10px;

    border:none;

    background:#f37021;

    color:white;

    padding:8px 12px;

    border-radius:8px;

    cursor:pointer;

}

/* =========================
   MODAL
========================= */

.modal{

    display:none;

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:rgba(0,0,0,.6);

    z-index:9999;

}

.modal-content{

    background:white;

    width:80%;

    max-width:700px;

    margin:8% auto;

    padding:25px;

    border-radius:15px;

}

#closeModal{

    float:right;

    font-size:30px;

    cursor:pointer;

}

.share-buttons{

    margin-top:20px;

    display:flex;

    gap:10px;

    flex-wrap:wrap;

}

.share-buttons button{

    border:none;

    background:#005baa;

    color:white;

    padding:10px 15px;

    border-radius:8px;

    cursor:pointer;

}

/* =========================
   TOP BUTTON
========================= */

#topBtn{

    position:fixed;

    right:20px;

    bottom:20px;

    width:50px;

    height:50px;

    border:none;

    border-radius:50%;

    background:#005baa;

    color:white;

    cursor:pointer;

    display:none;

    z-index:999;

}

/* =========================
   FOOTER
========================= */

footer{

    background:#005baa;

    color:white;

    text-align:center;

    padding:50px;

    margin-top:40px;

}

.social-links{

    margin:20px 0;

    display:flex;

    justify-content:center;

    gap:25px;

}

.social-links a{

    color:white;

    font-size:30px;

    transition:.3s;

}

.social-links a:hover{

    transform:scale(1.2);

}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

    header{

        flex-direction:column;

        text-align:center;

        gap:15px;

    }

    .controls{

        flex-direction:column;

    }

    .news-grid{

        grid-template-columns:1fr;

    }

    .featured-card img{

        height:220px;

    }

    .modal-content{

        width:95%;

        margin:25% auto;

    }

    .quick-filters{

        justify-content:center;

    }

}



/* LIGHT MODE */

body:not(.dark) {

    background: #f4f6f9;
    color: #222;

}

body:not(.dark) .stat-card,
body:not(.dark) .news-card,
body:not(.dark) .featured-card,
body:not(.dark) .bookmark-card,
body:not(.dark) .highlight-card,
body:not(.dark) .modal-content,
body:not(.dark) #weatherCard,
body:not(.dark) #notificationPanel {

    background: white;
    color: #222;

}

body:not(.dark) h1,
body:not(.dark) h2,
body:not(.dark) h3,
body:not(.dark) p,
body:not(.dark) span,
body:not(.dark) a {

    color: inherit;

}

body:not(.dark) .section-title,
body:not(.dark) .search-history h2,
body:not(.dark) .quick-filters-section h2,
body:not(.dark) .refineries h2 {

    color: #000000 !important;

}

/* DARK MODE */

body.dark {

    background: #121212;
    color: white;

}

body.dark .stat-card,
body.dark .news-card,
body.dark .featured-card,
body.dark .bookmark-card,
body.dark .highlight-card,
body.dark .modal-content,
body.dark #weatherCard,
body.dark #notificationPanel {

    background: #1f1f1f !important;
    color: white !important;

}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark p,
body.dark span,
body.dark a {

    color: white !important;

}

body.dark .read-more {

    color: #4da6ff !important;

}

body.dark #searchBox {

    background: #2a2a2a;
    color: white;
    border: 1px solid #444;

}

body.dark #searchBox::placeholder {

    color: #ccc;

}

body.dark #suggestions {

    background: #2a2a2a;
    color: white;

}

/* body.dark .filter-card,
body.dark .refinery-card {

    background: #2a2a2a !important;
    color: white !important;

} */

/* LAST SYNC */

body.dark #lastSync {

    color: #4da6ff !important;

}

body:not(.dark) #lastSync {

    color: #005baa !important;

}